*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
	position: relative;
}

a {
	text-decoration: none;
}
.main-content {
	min-height: calc(100vh - 128px);
	margin-top: 64px;
}

.brand img {
	width: 284px;
	margin-top: 8px;
}