.bg-img {
	width: 100%;
	filter: drop-shadow(3px 3px 1px hsl(0deg 0% 0% / 0.5));
}
.shadow2 {
	-webkit-text-stroke: 1px #f8f8f8;
	text-shadow: 0px 2px 3px #3737a3;
}
.MuiBox-root .MuiButtonBase-root.rounded-btn {
	border: 2px solid #6a7bd2;
	border-radius: 50px;
    background-color: #6a7bd2;
    color: white;
    
}
.MuiBox-root .MuiButtonBase-root.rounded-btn:hover {
    background-color: #5369d9;
}
